@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Confirmación de Contraseña Olvidada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Por favor, revise su Email y cambie su contraseña.
</p>

