@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Contraseña Reiniciada";
}

<h1>@ViewData["Title"]</h1>
<p>
    Su contraseña a sido reiniciada. Por Favor <a asp-page="./Login">click aquí para entrar al sistema</a>.
</p>
