<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>CinePlus</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/css/site.css" />
	<link rel="stylesheet" href="~/css/font-awesome-ie7.css" />
	<link rel="stylesheet" href="~/css/font-awesome.css" />
	@if (User.Identity.IsAuthenticated)
	{
		<script type="text/javascript">
			setInterval('loadCount()', 1000);
			function loadCount() {
				const xhttp = new XMLHttpRequest();
				xhttp.onload = function () {
					document.getElementById("cart").innerHTML = this.responseText;
				}
				xhttp.open("GET", "/Cart/GetCartCount");
				xhttp.send();
			}
		</script>
	}
</head>
<body>
	<header>
		<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3">
			<div class="container">
				<a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">CinePlus</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
					<partial name="_LoginPartial" />
					<ul class="navbar-nav flex-grow-1">
						<li class="nav-item">
							<a class="nav-link" asp-controller="Bilboard" asp-action="Index">Cartelera</a>
						</li>
						@if (User.IsInRole(Roles.Manager))
						{
							<li class="nav-item dropdown">
								<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
									Administración
								</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
									<a class="dropdown-item" asp-action="GetTop10" asp-controller="Administration">Top10</a>
									<a class="dropdown-item" asp-action="GetShows" asp-controller="Administration">Shows</a>
									<a class="dropdown-item" asp-action="GetMovies" asp-controller="Administration">Películas</a>
									<a class="dropdown-item" asp-action="GetRooms" asp-controller="Administration">Salas</a>
									<a class="dropdown-item" asp-action="Stadistics" asp-controller="Administration">Estadísticas de ventas</a>
								</div>
							</li>
						}
						<li class="nav-item">
							<form class="form-inline" asp-controller="Bilboard" asp-action="SearchMovie">
								<input class="form-control mr-sm-2" type="search" name="search" placeholder="Nombre de la Película" aria-label="Search">
								<button class="nav-link btn btn-link" type="submit">Buscar</button>
							</form>
						</li>
					</ul>
				</div>
			</div>
		</nav>
	</header>
	<div class="container">
		<main role="main" class="pb-3">
			@RenderBody()
		</main>
	</div>

	<footer class="border-top footer text-muted">
		<div class="container">
			&copy; @DateTime.Today.Year - CinePlus
		</div>
	</footer>
	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	@RenderSection("Scripts", required: false);
</body>
</html>
