@using Microsoft.AspNetCore.Identity
@using CinePlus.DataAccess
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@inject ICartRepository ICartRepository

<ul class="navbar-nav">
	@if (SignInManager.IsSignedIn(User))
	{
		<li class="nav-item dropdown">
			<a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
				@User.Identity.Name
			</a>
			<div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
				<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Cuenta</a>
				<a class="dropdown-item" asp-action="GetPayCarts" asp-controller="Cart">Compras Realizadas</a>
				<a class="dropdown-item" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">Salir</a>
			</div>
		</li>
		<li class="nav-item">
			<a class="icon-shopping-cart icon-2x nav-link" asp-controller="Cart" asp-action="Index"></a><span class="align-top badge badge-light" id="cart">0</span>
		</li>
	}
	else
	{
		<li class="nav-item">
			<a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registrarse</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" asp-area="Identity" asp-page="/Account/Login"> Entrar</a>
		</li>
		<li class="nav-item">
			<a class="icon-shopping-cart icon-2x nav-link" asp-controller="Cart" asp-action="Index"></a><span class="align-top badge badge-light">0</span>
		</li>
	}
</ul>