@model Movie
@{
	ViewData["Title"] = "Detalles";
}
<section>
	<div style="text-align:center; padding:3%;">
		<h1>Detalles de la película</h1>
	</div>
	<div class="container content" style="height:380px; overflow-y: scroll;">
		<div class="row">
			<div class="col-sm">
				<div style="text-align: center;">
					<img class="card-img-top" style="width:60%;" src=@Model.URL alt="" />
				</div>
			</div>
			<div class="col-sm">
				<h2 class="widgetheading">@Model.Name</h2>
				<ul class="folio-detail">
					<li><label>Director:</label> @Model.Director</li>
					<li><label>Categoría:</label> @Model.MovieType.Name</li>
				</ul>
				<p>
					@Model.Description
				</p>
				<form>
					<a asp-action="Index" asp-controller="Bilboard" class="btn btn-dark">Cartelera</a>
				</form>
			</div>
		</div>
	</div>
</section>