<section>
	<div style="text-align:center; padding:3%;">
		<h1>Detalles de la película</h1>
	</div>
	<div class="container content" style="text-align: center; height:380px; overflow-y: scroll;">
		<div class="row">
			<div class="col-sm">
				<div class="">
					<img src="~/img/jeans3.jpg" alt="" />
				</div>
			</div>
			<div class="col-sm">
				<p>
					Qui ut ceteros comprehensam. Cu eos sale sanctus eligendi, id ius elitr saperet, ocurreret pertinacia pri an. No mei nibh consectetuer, semper laoreet perfecto ad qui, est rebum nulla argumentum ei. Fierent adipisci iracundia est ei, usu timeam persius
					ea. Usu ea justo malis, pri quando everti electram ei, ex homero omittam salutatus sed.
				</p>
				<h5 class="widgetheading">Portfolio information</h5>
				<ul class="folio-detail">
					<li><label>Category :</label> Web design</li>
					<li><label>Client :</label> ASU Company</li>
					<li><label>Project date :</label> 26 March, 2013</li>
					<li><label>Project URL :</label> <a href="#">www.projectsiteurl.com</a></li>
				</ul>
				<p>
					Lorem ipsum dolor sit amet, unum suscipiantur te cum, vide magna ea eam. At eos wisi tractatos temporibus. Ne has omnis harum. Ei mea graece delenit nominati. Ut dolore albucius torquatos vel, choro gubergren no mel.
				</p>
			</div>
		</div>
	</div>
</section>