
<section >
	<div style="text-align:center; padding:3%;">
		<h1>Carelera del @DateTime.Today.DayOfWeek </h1>
	</div>
	<form>
		<div class="form-row align-items-center">
			<div class="col-auto">
				<label class="sr-only" for="inlineFormInputGroup"></label>
				<div class="input-group mb-2">
					<input type="date" class="form-control" id="inlineFormInputGroup">
					<div class="input-group-prepend">
						<button type="submit" class="btn btn-dark mb-2 rounded-right">Seleccionar</button>
					</div>
				</div>
			</div>
		</div>
	</form>
	<div class="card-deck content" style="text-align: center; height:320px; overflow-y: scroll;">
		<div class="card">
			<img class="card-img-top" src="./img/jeans3.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			</div>
			<div class="card-footer" style="text-align: center;">
				<a href="#" class="btn btn-dark">Agregar al Carrito</a>
				<a style="margin-top:2%" asp-action="Details" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="./img/jeans3.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			</div>
			<div class="card-footer" style="text-align: center;">
				<a href="#" class="btn btn-dark">Agregar al Carrito</a>
				<a style="margin-top:2%" asp-action="Details" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="./img/jeans3.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			</div>
			<div class="card-footer" style="text-align: center;">
				<a href="#" class="btn btn-dark">Agregar al Carrito</a>
				<a style="margin-top:2%" asp-action="Details" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="./img/jeans3.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			</div>
			<div class="card-footer" style="text-align: center;">
				<a href="#" class="btn btn-dark">Agregar al Carrito</a>
				<a style="margin-top:2%" asp-action="Details" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="./img/jeans3.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			</div>
			<div class="card-footer" style="text-align: center;">
				<a href="#" class="btn btn-dark">Agregar al Carrito</a>
				<a style="margin-top:2%" asp-action="Details" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
			</div>
		</div>
	</div>
</section>
