<section>
	<div style="text-align:center; padding:3%;">
		<h1>Carrito de Compras</h1>
	</div>
	<div>
		<form style="padding:1%; padding-left: 80%">
			<button class="btn btn-dark" type="submit">Efectuar Compra</button>
		</form>
	</div>
	<div class="card-deck content" style="text-align: center; height:320px; overflow-y: scroll;">
		<div class="card">
			<img class="card-img-top" src="./img/jeans3.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
			</div>
			<div class="card-footer" style="text-align: center;">
				<a href="#" class="btn btn-dark">Quitar del Carrito</a>
				<a style="margin-top:2%" asp-action="Details" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="./img/jeans3.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
			</div>
			<div class="card-footer" style="text-align: center;">
				<a href="#" class="btn btn-dark">Quitar del Carrito</a>
				<a style="margin-top:2%" asp-action="Details" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="./img/jeans3.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			</div>
			<div class="card-footer" style="text-align: center;">
				<a href="#" class="btn btn-dark">Quitar del Carrito</a>
				<a style="margin-top:2%" asp-action="Details" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="./img/jeans3.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			</div>
			<div class="card-footer" style="text-align: center;">
				<a href="#" class="btn btn-dark">Quitar del Carrito</a>
				<a style="margin-top:2%" asp-action="Details" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
			</div>
		</div>
		<div class="card">
			<img class="card-img-top" src="./img/jeans3.jpg" alt="Card image cap">
			<div class="card-body">
				<h5 class="card-title">Card title</h5>
				<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
			</div>
			<div class="card-footer" style="text-align: center;">
				<a href="#" class="btn btn-dark">Quitar del Carrito</a>
				<a style="margin-top:2%" asp-action="Details" asp-controller="Bilboard" class="btn btn-dark">Detalles</a>
			</div>
		</div>
	</div>
</section>