@model Tuple<string, string, List<DiscountsByShow>>
@{
	ViewData["Title"] = "Selecciona el Descuento a Aplicar";
}

<section style="text-align: center; margin-left:40%;" class="col-3">
	<h1 style="padding: 3%;">Asignar Descuento</h1>
	<form asp-action="SelectDiscount" asp-controller="Cart" method="post">
		<input name="armChairId" value="@Model.Item1" hidden />
		<input name="showId" value="@Model.Item2" hidden />
		<select name="discountId" class="custom-select form-control">
			<option value="ninguno">Ninguno</option>
			@foreach (var item in Model.Item3)
			{
				<option value="@item.DiscountId">@item.Discount.Name</option>
			}
		</select>
		<button style="margin-top:2%" class="btn btn-dark">Seleccionar</button>
	</form>
</section>